<script lang="ts">
    export let data;
    console.log("here");
    console.log(data.songs);
</script>

<h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>

<div>
  {#each data.songs as song}
    <div>{song.id}</div>
  {/each}
</div>
